{% extends "base.html" %}
{% load static %}

{% block content %}

<!-- ======= Head Section ======= -->
  <section id="hero" class="hero d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 d-flex flex-column justify-content-center">
          <h1 data-aos="fade-up">Tempat Kamu Menyimpan Data</h1><p>
          <h3 data-aos="fade-up" data-aos-delay="400" style="font-size: 21px;">"Sipena" sistem informasi pendataan anggota salah satu sistem yang dirancang khusus untuk pendataan konsultan IT idekite Pontianak berupa data anggota, keuangan, & keperluan client dengan pemanfaatan teknologi komputer.</h3>
          <div data-aos="fade-up" data-aos-delay="600">
            <div class="text-center text-lg-start">
              <a href="/bukutamu/" class="btn-get-started bg-primary float-left scrollto d-inline-flex align-items-center justify-content-center align-self-center">
                <span>Get Started</span>
                <i class="bi bi-arrow-right"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-lg-6 hero-img" data-aos="zoom-out" data-aos-delay="200">
          <img src="{% static 'img/home.svg' %}" class="img-fluid" style="width:1000px;" alt="">
        </div>
      </div>
    </div>

  </section><!-- Head Hero -->

  

    <!-- ======= Values Section ======= -->
    <!-- <section id="values" class="values">

      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <h2>Buku Tamu</h2>
          <p>Silahkan mengisi daftar hadir disini</p>
        </header>

        <div class="row">

          <div class="col-lg-4">
            <div class="box" data-aos="fade-up" data-aos-delay="200">
              <img src="{% static 'img/values-1.png' %}" class="img-fluid" alt="">
              <h3>Ad cupiditate sed est odio</h3>
              <p>Eum ad dolor et. Autem aut fugiat debitis voluptatem consequuntur sit. Et veritatis id.</p>
            </div>
          </div>

          <div class="col-lg-4 mt-4 mt-lg-0">
            <div class="box" data-aos="fade-up" data-aos-delay="400">
              <img src="{% static 'img/values-2.png' %}" class="img-fluid" alt="">
              <h3>Voluptatem voluptatum alias</h3>
              <p>Repudiandae amet nihil natus in distinctio suscipit id. Doloremque ducimus ea sit non.</p>
            </div>
          </div>

          <div class="col-lg-4 mt-4 mt-lg-0">
            <div class="box" data-aos="fade-up" data-aos-delay="600">
              <img src="{% static 'img/values-3.png' %}" class="img-fluid" alt="">
              <h3>Fugit cupiditate alias nobis.</h3>
              <p>Quam rem vitae est autem molestias explicabo debitis sint. Vero aliquid quidem commodi.</p>
            </div>
          </div>

        </div>

      </div>

    </section> -->
    <!-- End Values Section -->

    <main id="main">
    <section id="features" class="features">

      <div class="container" data-aos="fade-up">
        

        <!-- Feature Tabs -->
        
        <div class="row feture-tabs" data-aos="fade-up" id="tabVM">
          
          <div class="col-lg-6">

            <h3>Apa Itu SIPENA?</h3>

            <!-- Tabs -->
            <ul class="nav nav-pills mb-4">
              <li>
                <a class="nav-link"><i>Tentang Kami ~</i></a>
              </li>
              
            </ul><!-- End Tabs -->

            <!-- Tab Content -->
            <div class="tab-content">

              <div class="tab-pane fade show active" id="tab1">
                <p></p>
                <div class="d-flex mb-2">
                  
                  <h4>sistem yang menyediakan berbagai macam informasi untuk keperluan pribadi maupun kelompok, yang dikembangkan sejak September 2021. sistem ini dirancang untuk mengelola data dasar keperluan client, data anggota, dan data keuangan.</h4>
                </div>
                <h4>Bersama Sipena :</h4><p>
                <div class="d-flex mb-2">
                  <i class="bi bi-check2"></i>

                  <h4>Terwujud layanan komunikasi dan teknologi
                  untuk menciptakan sumber daya yang ada dalam meningkatkan kualitas pelayanan</h4>
                
                </div>
              </div><!-- End Tab 1 Content -->

              <div data-aos="fade-up" data-aos-delay="600" class="container-fluid"><br>
                <div class="text-center text-lg-start">
                  <a href="#" class="btn-get-started bg-primary float-left scrollto d-inline-flex align-items-center justify-content-center align-self-center "><br>
                    
                    <butoon class="btn btn-primary">
                      SELENGKAPNYA..
                    </butoon>
                    
                  </a>
                </div>
              </div>    
              
            </div>

          </div>

          <div class="col-lg-6">
            <img src="{% static 'img/hero-img.svg' %}" class="img-fluid" alt="">
          </div>  

        </div><!-- End Feature Tabs -->
      </div>

    </section><!-- End Features Section -->

  </main>



    <!-- ======= Features Section ======= -->
    <main id="main">
    <section id="features" class="features">

      <div class="container" data-aos="fade-up">

        <header class="section-header">
          
        

        <!-- Feature Tabs -->
        <h2>SIPENA merupakan aplikasi untuk mendata anggota, keuangan, client dan lain-lain</h2>
          <p>Visi dan Misi</p>
        <div class="row feture-tabs" data-aos="fade-up" id="tabVM">
        
        <div class="col-lg-6">
            <img src="{% static 'img/visi.svg' %}" class="img-fluid" alt="">
          </div>

          <div class="col-lg-6">


            <!-- Tabs -->
            <ul class="nav nav-tabs mb-4" role="tablist">
              <li>
                <a class="nav-link" data-bs-toggle="pill" href="#tab1">Visi</a>
              </li>
              <li>
                <a class="nav-link" data-bs-toggle="pill" href="#tab2">Misi</a>
              </li>
            </ul><!-- End Tabs -->

            <!-- Tab Content -->
            <div class="tab-content">

              <div class="tab-pane fade show active" id="tab1">
                <p></p>
                <div class="d-flex mb-5">
                  <i class="bi bi-check2"></i>
                  <h4>Menerima dan mengolah semua data yang masuk menjadi sebuah informasi yang dibutuhkan oleh berbagai pihak</h4>
                </div>
                <div class="d-flex mb-5">
                  <i class="bi bi-check2"></i>
                  <h4>Mengembangkan sistem pendataan melalui peningkatan perluasan sistem komputerisasi dan informasi</h4>
                </div>
                <div class="d-flex mb-5">
                  <i class="bi bi-check2"></i>
                  <h4>Memberikan dan menyebarkan informasi tentang SIPENA kepada masyarakat luas baik secara langsung atau melalui media lain.</h4>
                </div>
              </div><!-- End Tab 1 Content -->

              <div class="tab-pane fade show " id="tab2">
                <div class="d-flex mb-4">
                  <i class="bi bi-check2"></i>
                  <h4>Menjadikan teknologi informasi yang adaptif dalam mendukung pelayanan</h4>
                </div>
                <div class="d-flex mb-4">
                  <i class="bi bi-check2"></i>
                  <h4>Meningkatkan dan mengembangkan kualitas sistem</h4>
                </div>
                <div class="d-flex mb-4">
                  <i class="bi bi-check2"></i>
                  <h4>Menciptakan sumber daya yang ada meningkatkan kualitas pelayanan kepada masyarakat secara profesional, efektif dan efisien</h4>
                </div>
              </div><!-- End Tab 2 Content -->

            </div>

          </div>

          

        </div><!-- End Feature Tabs -->
      </header>
      </div>



<section class="services-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center services-title">
                        <h1 class="text-uppercase title-text">Services Offers</h1>
                        <p class="para">
                            Ada banyak variasi informasi yang tersedia, tetapi sebagian besar telah mengalami perubahan dalam beberapa bentuk.
                        </p><br>
                    </div>
                </div>
                <div class="container services-list">
                    <div class="row">
                        <div class="col-lg-3 col-md-6 col-sm-12">
                            <div class="services">
                                <div class="sevices-img text-center py-4">
                                    <img src="{% static 'img/service/1.svg' %}" alt="Services-1" style="width: 100%;">
                                </div>
                                <div class="card-body text-center">
                                    <h5 class="card-title text-uppercase font-roboto">HELP</h5>
                                    <p class="card-text text-secondary">
                                          menyediakan rangkaian layanan konsumen digital, perbaikan jarak jauh, bagi kenyamanan konsumen di seluruh Indonesia.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12">
                            <div class="services">
                                <div class="sevices-img text-center py-4">
                                    <img src="{% static 'img/service/2.svg' %}" alt="Services-2" style="width: 100%;">
                                </div>
                                <div class="card-body text-center">
                                    <h5 class="card-title text-uppercase font-roboto">CHAt</h5>
                                    <p class="card-text text-secondary">
                                        membantu tim dan bisnis berkolaborasi dengan lancar dan efisien dari mana saja  Berkomunikasi dengan semua rekan kerja
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12">
                            <div class="services">
                                <div class="sevices-img text-center py-4">
                                    <img src="{% static 'img/service/3.svg' %}" alt="Services-3" style="width: 100%;">
                                </div>
                                <div class="card-body text-center">
                                    <h5 class="card-title text-uppercase font-roboto">SUPPORT</h5>
                                    <p class="card-text text-secondary">
                                        aktivitas layanan pelanggan untuk membantu pelanggan mendapatkan pelayanan yang berhubungan dengan produk.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12">
                            <div class="services">
                                <div class="sevices-img text-center py-4">
                                    <img src="{% static 'img/service/4.svg' %}" alt="Services-4" style="width: 100%;">
                                </div>
                                <div class="card-body text-center">
                                    <h5 class="card-title text-uppercase font-roboto">CALL</h5>
                                    <p class="card-text text-secondary">
                                        menerima dan mengirim sejumlah besar permintaan melalui telepon. mengembangkan kinerja dengan cara membuat standarisasi.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

      </section>
    </main>
{% endblock content %}